* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: #f0f0f0; 
}

#root {
  width: 100%;
  max-width: 480px;
  min-width: 260px;
  height: 100vh;

  background-image: url('/main.png');
  background-size: 100% 100%;    
  background-repeat: no-repeat;
  background-position: center;   

  overflow-x: hidden;
}

@font-face {
  font-family: 'KZ Supercell-Magic';
  src: url('./assets/fonts/KZ Supercell-Magic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Для кнопки "Назад" */
.tg-back-button {
  color: white !important;
  fill: white !important;
}

/* Для текста в верхней панели */
.tg-header {
  color: white !important;
}

/* Альтернативный способ */
.tg-nav-button {
  color: #FFFFFF !important;
}